  <mat-nav-list>
    <h3 mat-subheader>Projects</h3>
    <mat-list-item [routerLink]="['/project']">
      <mat-icon mat-list-icon svgIcon="projects" ></mat-icon>
      <span mat-line>Projects View</span>
      <span mat-line mat-subheader> You can see all the projects here </span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>Calendar</h3>
    <mat-list-item  [routerLink]="['/tasklists']">
      <mat-icon mat-list-icon svgIcon="month"></mat-icon>
      <span mat-line>Monthly</span>
      <span mat-line mat-subheader> View your month </span>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon svgIcon="week"></mat-icon>
      <span mat-line>Weekly</span>
      <span mat-line mat-subheader> View your week </span>
    </mat-list-item>
    <mat-list-item >
      <mat-icon mat-list-icon [svgIcon]="today"></mat-icon>
      <span mat-line>Daily</span>
      <span mat-line mat-subheader> View your day </span>
    </mat-list-item>
  </mat-nav-list>
