<form class="form" >
  <h3 mat-dialog-title>{{dialogTitle}}</h3>
  <div mat-dialog-content>
    <mat-input-container class="full-width">
      <input matInput placeholder="Project Name" formControlName="name">
    </mat-input-container>
    <mat-input-container class="full-width">
      <input matInput placeholder="Project Desc(Optional)" formControlName="desc">
    </mat-input-container>
  
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit" >Save</button>
    <button mat-dialog-close mat-raised-button type="button">Close</button>
  </div>
</form>