.text-right {
    margin: 10px;
    text-align: end;
  }
mat-card {
    flex: 0 0 40em;
}
.full-width{
    width: 100%;
}
mat-icon.avatar {
overflow: hidden;
width: 64px;
height:64px;
border-radius: 50%;
margin:12px;
}