<div class="task-lists">
  <app-task-list
    class="list-container"
    *ngFor="let list of lists"
    
   
    >
    <app-task-header 
      [header]="list.name"
      (newTask)="launchNewTaskDialog()"
      (copyTask)="launchCopyTaskDialog()"
      (deleteTask)="launchDeleteTaskDialog()"
      (changeListName)="launchEditTaskListNameDialog()"
    >
    </app-task-header>
    <app-task-item
      *ngFor="let task of list.tasks"
      (itemClick)="launchItemDialog()"
      [item]="task">
    </app-task-item>
  </app-task-list>
</div>
<button mat-fab (click)="launchNewTaskListDialog()" type="button" class="fab-button">
  <mat-icon>add</mat-icon>
</button>