<form>
  <span mat-dialog-title>{{dialogTitle}}</span>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-select placeholder="Please select the task list" >
        <mat-option *ngFor="let list of lists" [value]="list.id">
          {{list.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <button mat-raised-button color="primary" type="submit" >Confirm</button>
      <button mat-dialog-close mat-raised-button type="button">Close</button>
    </div>
  </div>
</form>