<mat-card>
  <mat-card-header>
    <mat-card-title>{{item.name }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="item.coverImg" >
  <mat-card-content>
  {{item.desc}}
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="openUpdateDialog($event)">
      <mat-icon>note</mat-icon>
      <span>Edit</span>
    </button>
    <button mat-button (click)="openInviteDialog($event)">
      <mat-icon>group_add</mat-icon>
      <span>Invite</span>
    </button>
    <button mat-button (click)="openDeleteDialog($event)">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </mat-card-actions>
</mat-card>