<form>
  <mat-card>
  <mat-card-header>
    <mat-card-title></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-input-container class="full-width">
      <input matInput type="text" placeholder="your email" >
    </mat-input-container>
    <mat-input-container class="full-width">
      <input matInput type="text" placeholder="your password">
    </mat-input-container>
    <button mat-raised-button type="button">Login</button>
  </mat-card-content>
  <mat-card-actions class="text-right">
    <p>Create new account <a href="">Register</a></p>
    <p>Forgot password <a href="">Find your password</a></p>
  </mat-card-actions>
</mat-card>
<mat-card class="card">
  <mat-card-header>
    <mat-card-title> </mat-card-title>
    <mat-card-subtitle>
      杰出的人有着目标，其他人只有愿望。
    </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="/assets/20177128502587.jpg">
  <mat-card-content>
    <p> Great minds have purpose, others have wishes.</p>
  </mat-card-content>
</mat-card>
</form>
